<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thoriqsalafi.quiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".questionOne" />
        <activity android:name=".questionTwo" />
        <activity
            android:name=".questionThree"
            android:label="@string/title_activity_question_three"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionFour"
            android:label="@string/title_activity_question_four"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionFive"
            android:label="@string/title_activity_question_five"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionSix"
            android:label="@string/title_activity_question_six"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionSeven"
            android:label="@string/title_activity_question_seven"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionEight"
            android:label="@string/title_activity_question_eight"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionNine"
            android:label="@string/title_activity_question_nine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionTen"
            android:label="@string/title_activity_question_ten"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".showResult"
            android:label="@string/title_activity_show_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>